@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif !important;
  color: #e2e8f0 !important;
}

form {
  width: 350px;
}

.form-control {
  max-width: 350px !important;
  height: 50px;

  &::placeholder {
    color: #505050 !important;
  }
}

input,
button {
  color: #e2e8f0 !important;
}

.playerContainer {
  min-height: 500px;
  min-width: 500px;
}

.chatContainer {
  max-height: 500px;

  .onlineCircle {
    width: 10px;
    height: 10px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: inline-block;
  }

  .chatContent,
  .chatFooter {
    background-color: #242830;

    input {
      background-color: #242830;
    }
  }

  input {
    &:focus {
      box-shadow: none !important;
    }
  }

  @media (max-width: 992px) {
    min-width: 500px !important;
  }
}